{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="{% static 'img/logo_2.png' %}" width="35" height="35">
    <a class="navbar-brand" href="/">&nbsp;Sistema de Padron Nominal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Inicio</a>
        </li>
          {% if perms.filiacion.view_filiacion and user.is_authenticated %}
          <li class="nav-item">
            <a href="/filiacion" class="nav-link">Dir. Municipios</a>
          </li>
          {% endif %}
          {% if perms.filiacion.view_red and user.is_authenticated %}  
          <li class="nav-item">
            <a href="/directorio_salud" class="nav-link">Dir. Diresa</a>
          </li>
          {% endif %}
          {% if perms.filiacion.view_red and user.is_authenticated %}
          <li class="nav-item">
            <a href="/directorio_red" class="nav-link">Dir. Redes</a>
          </li>
          {% endif %}
          {% if perms.filiacion.view_establecimiento and user.is_authenticated %}
          <li class="nav-item">
            <a href="/directorio_establecimiento" class="nav-link">Dir. Establecimientos</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-user-circle"></i> {{ user.username }}</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" href="/logout"> Salir</a></li>
              </ul>
          </li>    
          {% else %}
          <li class="nav-item">
            <a href="/signin" class="nav-link" >Ingresar</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>